{% extends 'crm/base.html' %}
{% block content %}
<body>
    <div class="row">
        <h2 style="padding-left: 15Px">Product Information</h2>
    </div>
    <div style="width:100%;">
        <table class="table table-bordered table-hover">
            <thead>
            <tr style="background-color: darkgrey;">
                <th>Customer</th>
                <th>Product</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Pickup Time</th>
                <th>Product Charge</th>
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.cust_name }}</td>
                    <td>{{ product.product }}</td>
                     <td>{{ product.p_description }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.pickup_time }}</td>
                    <td>{{ product.charge }}</td>
                    <td><a href="{% url 'crm:product_edit' pk=product.pk %}"
                           class="btn btn-warning">Edit</a></td>
                    <td><a href="{% url 'crm:product_delete' pk=product.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

            <a href="{% url 'crm:product_new' %}" class="row"><span
                    class="btn btn-primary">Add Product</span></a>

    </div>
    </body>
    </html>
{% endblock %}
