{% extends 'crm/base.html' %}
{% block content %}
   <body>
    <div class="row">
        <h2 style="padding-left: 15Px">Services Information</h2>
    </div>
    <div style="width: 100%;">
        <table class="table table-bordered table-hover">
            <thead>
            <tr style="background-color: darkgrey">
                <th>Customer</th>
                <th>Service Category</th>
                <th>Description</th>
                <th>Location</th>
                <th>Setup Time</th>
                <th>Cleanup Time</th>
                <th>Service Charge</th>
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.cust_name }}</td>
                    <td>{{ service.service_category }}</td>
                     <td>{{ service.description }}</td>
                    <td>{{ service.location }}</td>
                    <td>{{ service.setup_time }}</td>
                    <td>{{ service.cleanup_time }}</td>
                    <td>{{ service.service_charge }}</td>
                    <td><a href="{% url 'crm:service_edit' pk=service.pk %}"
                           class="btn btn-warning">Edit</a></td>
                    <td><a href="{% url 'crm:service_delete' pk=service.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

            <a href="{% url 'crm:service_new' %}" class="row"><span
                    class="btn btn-primary">Add Service</span></a>

    </div>
    </body>
{% endblock %}
